/* common */
html{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    width: 100%;
    scrollbar-gutter: stable;
}
body.hidden{
    overflow: hidden;
    height: 100vh;
}

/* button */
.more {
    border: 1px solid #c0a684;
    border-radius: 30px;
    color: #c0a684;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 30px;
}
.more:hover{
    background: #c0a684;
    color: #fff;
}
.btn_1:hover{
    background: #f68c22;
    color: #f6f4dd;
    border: transparent;
}
.btn_2:hover{
    background: #c0a684;
    color: #f6f4dd;
}
/* mobile */
@media (max-width:767px){
    .more {
        padding: 5px 15px;
        font-size: 12px;
    }
}