/* fonts */
@font-face {
    font-family: "조선신명조";
    src: url("../font/ChosunSm.TTF");
    font-weight:400
}
@font-face {
    font-family: "조선굵은명조";
    src: url("../font/ChosunKm.TTF");
    font-weight:800
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}