@media (max-width:767px){

/* fonts */
@font-face {
    font-family: "조선신명조";
    src: url("../font/ChosunSm.TTF");
    font-weight:400
}
@font-face {
    font-family: "조선굵은명조";
    src: url("../font/ChosunKm.TTF");
    font-weight:800
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* common */
html{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;

}
main{}
.inner_content{
    max-width: 980px;o
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
h2{
    font-family: 'S-CoreDream-3Light';
    font-size: 28px;
    color: #4f4f4f;
}
h3{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    color: #f68c22;
}
h4{
    font-family: 'S-CoreDream-3Light';
    font-size: 18px;
    color: #c0a684;
}
.font{
    font-size: 20px;
    font-family: 'S-CoreDream-3Light';
    color: #4f4f4f;
    font-weight: 600;
    line-height: 28px;
}
.more{
    border: 1px solid #c0a684;
    border-radius: 30px;
    color: #c0a684;
    font-size: 12px;
    font-weight: 400;
    padding: 8px 20px;
}

/* header */
header{
    width: 100%;
    padding: 24px 0;
    position: relative;
}
.nav{
    position: relative;
    z-index: 1000;
}
.nav_wrap{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
.nav_wrap::before{
    content:"";
    width: 64px;
}
.logo{
    width: 60px;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
}
.login{
    display: none;
}
.login>li{
    margin-right: 10px;
    padding: 5px 15px;
    color: #fff;
    background: #b7b7b7;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
}
.login>li:last-of-type{
    background: #f68c22;
}
.util{
    display: flex;
    align-items: center;
}
.gnb{
    display: none;
}
.gnb_btn{
    margin: 0 20px;
}


/* main_contents */
section{
    height: 100%;
}
.banner{
    width: 100%;
    text-align: center;
    color: #fff;
    height: calc(100vh - 130px);
}
.banner_content{
    position: absolute;
    width: 100%;
    margin-top: 170px;
    z-index: 10;
}
.banner_content>img{
    width: 400px;
    object-fit: contain;
}
.banner p {
    font-weight: 200;
    margin-top: 50px;
    font-size: 18px;
}
.btn_banner{
    background: #f6f4dd;
    color: #f68c22;
    padding: 10px 30px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 50px;
}
.blackscreen{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #00000041;
    top: 0;
    left: 0;
    z-index: -1;
}
video{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -5;
}
.product{
    border: 1px solid red;
    box-sizing: border-box;
    height: 100vh;
}
.product h2{
    text-align: center;
    height: 20%;
    padding-top: 50px;
    box-sizing: border-box;
}
.prod_list{
    position: relative;
    height: 80%;
}
.prod_list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.prod_list ul li{
    width: 40%;
    margin-right: 20px;
}
.prod_list ul li:nth-of-type(2n){
    margin-right: 0;
}
.prod_list img{
    height: 160px;
    object-fit: contain;
}
.prod_list h3{
    margin: 10px 0;
}
.prod_list p{
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 13px;
    color: #4c4c4c;
} 
.prod_bg{
    background: #f6f4dd;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 5%;
    z-index: -1;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
}
/* .product{
    height: 100vh;
    position: relative;
    padding-top: 100px;
}
.product h2{
    text-align: center;
}
.prod_list{
    margin-top: 50px;
}
.prod_list ul{
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
    text-align: center;
    margin: 0 100px;
}
.prod_list ul li{
    border: 1px solid blue;
    margin-bottom: 25px;
}
.prod_list ul li:nth-of-type(3),
.prod_list ul li:nth-of-type(4){
    margin-bottom: 0;
}
.prod_list img{
    height: 220px;
    object-fit: contain;
}
.prod_list h3{
    margin: 20px 0 20px 0;
}
.prod_list p{
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 24px;
} 
.prod_bg {
    width: 100%;
    height: 80%;
    background: #f6f4dd;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
} */
.slider{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}
.slide{
    margin-top: 100px;
}
.slide_div{
    border: 1px solid red;
}
.slide .des{
    margin: 20px 0 40px;
}
.slide_ul{}
.ul_title{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}
.ul_title>li{
    background: #f2f4f3;
    color: #b5b5b5;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 50px;
    margin-right: 20px;
}
.ul_title>li:last-of-type{
    margin-right: 0;
}
.ul_title>li.on{
    background: #f68c22;
    color: #fff;
}
.station{
    width: 100%;
    margin: 0 auto;
}
.ul_train{
    width: 300%;
    height: 100%;
    display: flex;
}
.ul_train li{
    height: 100%;
    flex: 1;
    position: relative;
}
.ul_train li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ul_train li:nth-of-type(2) img{
    margin: 0 50px;
}
.abs{
    border: 1px solid red;
    text-align: center;
    font-size: 17px;
    line-height: 30px;
    margin: 40px 0;
}
.abs span{
    display: block;
    font-family: 'S-CoreDream-3Light';
    font-size: 22px;
    font-weight: 800;
}
.abs p{
    margin: 20px 0 40px 0;
}
.abs a{
    background: #f6f4dd;
    color: #f68c22;
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 400;
}
.news{
    background: #f6f4dd;
    height: 100vh;
    display: flex;
    align-items: center;
}
.news .inner_content{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.news_wrap{
    border: 1px solid red;
    text-align: center;
    margin-bottom: 40px;
}
.news h4{
    margin: 20px 0 10px 0;
}
.news p{
    margin: 20px 0 40px;
}
.news a{
    color: #f6f4dd;
    background: #f68c22;
    font-size: 16px;
    padding: 12px 40px;
    border-radius: 30px;
}
.news_img{
    object-fit: contain;
}
.notice{
    border: 1px solid black;
}
.notice h4{
    margin: 120px 0 10px 0;
}
.notice>div>p{
    margin: 20px 0 40px;
}
.notice>div>p>b{
    color: #f68c22;
}
.notice ul{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}
.notice_img{
    object-fit: contain;
    width: 80%;
}
.notice h5{
    font-family: 'S-CoreDream-3Light';
    font-size: 24px;
    display: none;
}
.notice li>p{
    display: none;
}
.notice a{
    display: none;
}

/* footer */
footer{
    background: #f6f4dd;
    text-align: center;
    color: #c0a684;
    height: 353px;
}
.sns{
    height: 40px;
    background: #c0a684;
    color: #fff;
}
.sns ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sns li{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 36px;
}
.sns>ul>li:last-of-type{
    margin-right: 0;
}
.sns>ul img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.f_link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 26px;
}
.f_link a{
    margin-right: 56px;
}
.f_link a:last-of-type{
    margin-right: 0;
}
.f_link .family{
    border: 1px solid #c0a684;
    border-radius: 30px;
    padding: 5px 26px; 
}
.f_info{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.f_info li{
    margin-right: 56px;
}
.f_info li:last-of-type{
    margin-right: 0;
}
footer address{
    margin-bottom: 30px;
}
footer .copy{
    font-size: 12px;
    margin: 20px 0;
}
    
}