main{}
.inner_content{
    max-width: 1200px;
    margin: 0 auto;
}
h2{
    font-family: 'S-CoreDream-3Light';
    font-size: 36px;
    color: #4f4f4f;
}
h3{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 22px;
    color: #f68c22;
}
h4 {
    font-family: 'S-CoreDream-3Light';
    font-size: 18px;
    color: #f68c22;
}
.font{
    font-size: 36px;
    font-family: 'S-CoreDream-3Light';
    color: #4f4f4f;
    font-weight: 600;
}
.topWrap{
    display: none;
}
.modal_back{
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100000;
    background: #000;
    opacity: .6;
}
.modal_back.hidden{
    display: none;
}
fieldset{
    border: none;
    display: block;
}
.popup_age{
    background: url("../img/modal_img_.png") no-repeat 50% 50% / contain;
    width: 1000px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    box-sizing: border-box;
    color: #0f0f0f;
}
.popup_age.hidden{
    display: none;
}
.popup_age form{
    height: 200px;
}
.popup_age select {
    width: 150px;
    height: 50px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    margin: 20px 0;
    margin-right: 10px;
    padding-left: 10px;
}
.popup_age>p{
    font-size: 16px;
    color: #0f0f0f;
    margin-bottom: 30px;
}
.popup_age>p span{
    color: #f68c22;
}
.popup_age .check{
    font-size: 14px;
    color: #f68c22;
}
.custom-checkbox{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #f68c22;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 2px;
}
.custom-checkbox:checked{
    background-color: #f68c22;
    border: none;
}
.custom-checkbox:checked::after{
    content: '✔';
    color: #fff;
    position: absolute;
    left: 2px;
    top: -2px;
    font-size: 14px;
}
#enter{
    width: 200px;
    height: 50px;
    background: transparent;
    border: 1px solid #f68c22;
    color: #f68c22;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}
#enter:hover{
    background: #f68c22;
    border: 1px solid transparent;
    color: #fff;
}

/* header */
header {
    width: 100%;
    height: 100px;
    /* padding: 24px 0; */
    position: fixed;
    padding-top: 10px;
    box-sizing: border-box;
    left: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-bottom: 1px solid #ffffff4d;
}
header.halfshow {
    transform: translateY(-60%);
    z-index: 1000;
    background: #f68c22;
    border-bottom: none;
}
header.halfshow .gnb>li{
    font-weight: 400;
}
header.halfshow .gnb>li:hover>a{
    color: #fff;
} 
header.noshow {
    transform: translateY(-100%);
    z-index: 1000;
}
.nav_wrap{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 50px;
}
.nav_wrap::before{
    content:"";
    width: 160px;
}
.logo{
    width: 100px;
    height: auto;
    margin: 0 auto;
}
.logo>a {
    display: block;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.login{
    display: flex;
    justify-content: flex-end;
}
.btn_login{
    margin-right: 10px;
    padding: 5px 15px;
    color: #fff;
    background: #b7b7b7;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
}
.btn_login:hover{
    color: #000;
    background: #fff;
}
.btn_regis{
    margin-right: 0;
    padding: 5px 15px;
    color: #fff;
    background: #f68c22;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
}
.btn_regis:hover{
    color: #f68c22;
    background: #fff;
}
.gnb_btn{
    display: none;
    /* 모바일/테블릿 */
}
.gnb_mo{
    display: none;
}
.gnb{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    /* margin: 20px auto; */
    padding: 0 100px;
    box-sizing: border-box;
    z-index: 1000;
}
.gnb>li{
    /* border: 1px solid red; */
    /* width: calc(100% / 6); */
    text-wrap: nowrap;
    margin-right: 60px;
    color: #fff;
    font-weight: 200;
    position: relative;
}
.gnb>li:last-of-type{
    margin-right: 0;
}
.gnb>li>a:hover{
    font-weight: bold;
}
.gnb a:hover{
    color: #f68c22;
}
.gnb>li>ul{
    width: 120px;
    height: 0;
    position: absolute;
    top: 50px;
    left: 0;
    overflow: hidden;
    transition: all .3s ease 0s;
    z-index: 100;
}
.gnb:hover>li>ul{
    height: 300px;
}
.gnb>li>ul>li>a {
    display: block;
    padding: 5px 0;
    color: #7b6c57;
    font-weight: 400;
}
header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 0;
    z-index: 99;
    background: rgb(246 244 221 / 52%);
    /* opacity: 0.75; */
    backdrop-filter: blur(10px);
    transition: all 0.3s ease 0s;
    /* border: 1px solid red; */
}
header.on::after{
    height: 400px;
}



/* main_contents */
section{
    height: 100%;
}
.banner{
    width: 100%;
    text-align: center;
    color: #fff;
    height: 100vh;
}
.banner_content{
    position: absolute;
    width: 100%;
    margin-top: 300px;
    z-index: 10;
}
.banner_content>img{
    width: 700px;
}
.banner p {
    font-weight: 200;
    margin-top: 50px;
    font-size: 20px;
}
.btn_banner{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 50px;
}
.blackscreen{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #00000041;
    top: 0;
    left: 0;
    z-index: -1;
}
video{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -5;
}
.product{
    box-sizing: border-box;
    height: 100vh;
    position: relative;
}
.product h2 {
    height: 200px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prod_list ul{
    display: flex;
    justify-content: center;
    text-align: center;
}
.prod_list ul li {
    margin-right: 40px;
    height: 550px;
    position: relative;
    width: 220px;
}
.prod_list ul li img{
    transition: all 0.4s ease 0s;
}
.prod_list ul li:hover img{
    transform: scale(1.1);
}
.prod_list ul li:last-child{
    margin-right: 0;
}
.prod_list img{
    height: 305px;
    object-fit: contain;
}
.prod_list h3{
    margin: 20px 0 20px 0;
}
.prod_list p{
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 16px;
    color: #4c4c4c;
    min-height: 95px;
} 
.prod_bg {
    height: 500px;
    background: #f6f4dd;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 5%;
    z-index: -1;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
}
.slider{
    width: 100%;
    position: relative;
    overflow: hidden;
    /* padding-bottom: 50px; */
}
.slide{
    margin-top: 162px;
}
.slide .des{
    margin: 20px 0 40px;
}
.slide_ul{}
.ul_title{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}
.ul_title>li{
    background: #f2f4f3;
    color: #b5b5b5;
    font-size: 16px;
    padding: 10px 60px;
    border-radius: 50px;
    margin-right: 50px;
}
.ul_title>li:last-of-type{
    margin-right: 0;
}
.ul_title>li.on{
    background: #f68c22;
    color: #fff;
}
.station{
    width: 100%;
    height: 559px;
    position: relative;
    /* border: 5px solid blue; */
}
.ul_train {
    width: 300%;
    height: 559px;
    display: flex;
    border: 1px solid transparent;
    transition: all .5s ease 0s;
}
.ul_train li{
    width: 100%;
    height: 100%;
    margin-right: 50px;
    position: relative;
}
.ul_train li:last-of-type{
    margin-right: 0;
}
.ul_train li>div{
    height: 100%;
    position: relative;
}
.ul_train li .gra_background{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #000000ba);
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.ul_train li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.abs{
    position: absolute;
    right: 5%;
    top: -70%;
    /* transform: translateY(50%); */
    color: #fff;
    text-align: end;
    margin-right: 90px;
    font-size: 22px;
    font-weight: 100;
    z-index: 100;
}
.abs span{
    display: block;
    font-family: 'S-CoreDream-3Light';
    font-weight: 600;
    font-size: 36px;
}
.abs p{
    font-weight: 300;
    margin: 40px 0;
}
.abs a{
    background: transparent;
    border: 1px solid #f68c22;
    color: #f68c22;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 400;
}
.slider::after{
    background: #f6f4dd;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: -1;
}
.news{
    background: #f6f4dd;
    height: 100vh;
    display: flex;
    align-items: center;
}
.news .inner_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news h4{
    margin: 20px 0 10px 0;
}
.news p{
    font-family: 'S-CoreDream-3Light';
    font-weight: 600;
    color: #4f4f4f;
    margin: 20px 0 40px;
}
.news a {
    color: #f68c22;
    /* background: #f68c22; */
    font-size: 16px;
    padding: 12px 60px;
    border-radius: 30px;
    border: 1px solid #f68c22;
}
.news_img{
    margin-left: 30px;
}
.notice{
    width: 100%;
    position: relative;
}
.notice h4{
    margin: 120px 0 10px 0;
}
.notice>div>p{
    margin: 20px 0 40px;
}
.notice>div>p>b{
    color: #f68c22;
}
.notice ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.notice li{
    text-align: center;
    position: relative;
    height: auto;
    width: calc(90% / 4);
}
.notice h5{
    font-family: 'S-CoreDream-3Light';
    font-size: 24px;
    margin: 30px 0;
}
.notice li>p {
    margin-bottom: 20px;
    min-height: 80px;
}
.notice .more2{
    border: 1px solid #c0a684;
    border-radius: 30px;
    color: #c0a684;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    position: absolute;
    left: calc((15% - 20px));
    bottom: 0;
    width: 70%;
}
.notice .more2:hover{
    background: #c0a684;
    color: #fff;
}
.btn_top{
    color: #f68c22;
    width: 50px;
    height: 50px;
    position: sticky;
    bottom: 0;
    right: 0;
    margin-left: auto;
}


/* footer */
footer{
    background: #f6f4dd;
    text-align: center;
    color: #c0a684;
    height: auto;
    font-size: 14px;
}
.sns{
    height: 40px;
    background: #c0a684;
    color: #fff;
}
.sns ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sns li{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 36px;
}
.sns li a{
    display: flex;
    align-items: center;
}
.sns>ul>li:last-of-type{
    margin-right: 0;
}
.sns>ul img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.f_link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.f_link a{
    margin-right: 40px;
}
.f_link .family{
    border: 1px solid #c0a684;
    background: transparent;
    color: #c0a684;
    border-radius: 30px;
    padding: 5px 15px; 
}
.f_info{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.f_info li{
    margin-right: 40px;
}
.f_info li:last-of-type{
    margin-right: 0;
}
footer address{
    margin-bottom: 30px;
}
footer .copy{
    font-size: 12px;
    padding: 20px 0;
    box-sizing: border-box;
}

/* tablet */
@media (min-width:768px) and (max-width:1219px){
    .inner_content {
        padding: 0 20px;
        box-sizing: border-box;
        width: 100%;
    }
    .nav_wrap::before {
        content: "";
        width: 180px;
    }
    .login{
        margin-right: 20px;
    }
    .product h2 {
        height: 25%;
        padding-top: 80px;
        box-sizing: border-box;
    }
    .prod_list {
        height: 75%;
    } 
   .prod_list ul{
        display: flex;
        justify-content: space-between;
    }
   .prod_list ul li {
        width: calc(95% / 4);
        height: 480px;
        margin-right: 0;
    }
    .prod_list ul li img{
        height: 220px;
    }
    .prod_list .prod_bg{
        border-radius: 0;
        left: 0;
    }
    .news_img {
        margin-left: 30px;
        width: 400px;
    }
    .btn_top{
        display: none;
    }
    .news p {
        font-size: 28px;
    }
    .popup_age{
        width: 800px;
    }
}

/* mobile */
@media (max-width:767px){
    /* section {
        height:100vh;
    } */
    .removeBr{
        display: none;
    }
    .inner_content {
        padding: 0 10px;
        box-sizing: border-box;
        width: 100%;
    }
    .login{
        display: none;
    }
    .logo {
        width: 70px;
    }
    .gnb{
        display: none;
    }
    .gnb_btn{
        display: block;
        margin: 0 20px;
    }
    header.halfshow{
        transform: translateY(-10%);
    }
    .util{
        position: relative;
        margin-right: 10px;
    }
    .modal_gnb{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #00000077;
        z-index: 101;
    }
    .modal_gnb.on{
        display: block;
    }
    .gnb_mo{
        display: block;
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #f6f4dd;
        padding: 40px 0;
        z-index: 102;
        transition: all .5s ease 0s;
        opacity: 0;
        pointer-events: none;
    }
    .gnb_mo.on{
        right: 0;
        opacity: 1;
        pointer-events: auto;
    }
    .gnbWrap{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        position: relative;
    }
    .gnb_login{
        display: flex;
        padding-left: 20px;
        font-size: 12px;
    }
    .btn_login_mo a{
        border: 1px solid #f68c22;
        /* background: #f68c22; */
        color: #f68c22;
        padding: 5px 20px;
        border-radius: 15px;
        margin-right: 10px;
    }
    .btn_regis_mo a{
        background: #f68c22;
        color: #fff;
        padding: 5px 20px;
        border-radius: 15px;
    }
    .gnb_btn_close{
        width: 25px;
        padding: 0 40px;
        margin-left: auto;
    }
    .gnb_btn_close a{
        display: flex;
        align-items: center;
        height: 100%;
    }
    /* .gnb_mo>li{
        position: relative;
    } */
    .gnb_mo_ul>li>a{
        font-weight: 500;
        display: flex;
        height:50px;
        align-items: center;
        padding-left:20px;
    }
    .gnb_mo_ul>li>a:hover{
        color: #f68c22;
    }
    .gnb_mo_ul>li>ul{
        position: absolute;
        left:130px;
        top:100px;
        transition: all 0.7s ease 0s;
        z-index: 100;
        width:150px;
        opacity: 0;
        pointer-events: none;
    }
    .gnb_mo_ul>li:hover>ul{
        opacity: 1;
        pointer-events: auto;
    }
    .gnb_mo_ul>li>ul>li>a{
        font-size: 15px;
        display: flex;
        height:40px;
        align-items: center;
        padding-left:10px;
    }
    .gnb_cs{
        margin-top: 120px;
        padding-left: 20px;
        font-size: 14px;

    }
    .nav_wrap::before{
        content: "";
        width: 64px;
    }
    .banner_content{
        margin-top: 280px;
    }
    .banner_content img{
        width: 80%;
    }
    .banner_content br{
        display: none;
    }
    .blackscreen{
        height: 100vh;
    }
    video{
        height:100vh;
    }
    .btn_banner {
        font-size: 14px;
    }
    h4 {
        font-size: 14px;
    }
    .product{
        box-sizing: border-box;
        padding-bottom: 50px;
        /* height: 100vh; */
    }
    .product h2{
        text-align: center;
        height: 15%;
        padding-top: 50px;
        box-sizing: border-box;
        font-size: 24px;
    }
    /* .prod_list{
        height: 85%;
    } */
    .prod_list ul{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
    }
    .prod_list ul li{
        flex: 1 1 40%;
        width: 44%;
        height: 350px;
    }
    .prod_list ul li:nth-of-type(2n){
        margin-right: 0;
    }
    .prod_list img{
        height: 160px;
        object-fit: contain;
    }
    .prod_list h3{
        margin: 10px 0;
        font-size: 18px;
    }
    .prod_list p{
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 13px;
        color: #4c4c4c;
        min-height: 50px;
    } 
    .prod_bg{
        background: #f6f4dd;
        position: absolute;
        height: 80%;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        border-top-left-radius: 300px;
        border-top-right-radius: 300px;
        border-bottom-left-radius: 0;
    }
    .font{
        font-size: 20px;
    }
    /* .ul_train {
        margin-left: 50px;
    } */
    .news_wrap{
        margin-bottom: 30px;
    }
    .news {
        position: relative;
        padding: 50px 0;
        height: auto;
    }
    .news a {
        font-size: 14px;
        padding: 10px 30px;
        position: static;
        left: 50%;
        bottom: 6%;
        transform: translateX(-50%);
    }
    .news .inner_content {
       display: block;
    }
    .news_img {
        margin-left: 0;
    }
    /* .notice{
        height: 100vh;
    } */
    .notice>div{
        padding-top: 50px;
    }
    .notice h4 {
        margin: 40px 0 10px 0;
    }
    .notice h5{
        font-size: 18px;
        margin: 10px 0; 
    }
    .notice ul {
        flex-wrap: wrap;
        /* align-items: center; */
        /* height: calc(100vh - 250px); */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(300px, auto);
        column-gap: 20px;
    }
    .notice ul p {
        font-size: 13px;
        min-height: 50px;
        word-break: keep-all;
    }
    .notice li {
        height: auto;
        /* width: calc(98% / 2); */
        /* min-height: 260px; */
        width: 100%;
        padding-bottom: 20px;
    }
    .notice li br{
        display: none;
    }
    .notice .more2 {
        border: 1px solid #c0a684;
        border-radius: 30px;
        color: #c0a684;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 20px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        width: 60%;
    }
    .f_link {
        font-size: 13px;
        word-break: keep-all;
        flex-wrap: wrap;
    }
    .f_link a {
        margin-right: 30px;
        display: inline-block;
        padding: 10px 0;
    }
    .f_link a:last-of-type{
        /* margin-right: 0; */
        display: inline-block;
        padding: 10px 0;
    }
    .f_info{
        font-size: 13px;
        display: grid;
        margin-left: 0;
    }
    .f_info li{
        padding: 5px 0;
        margin-right: 0;
    }
    .f_logo{
        display: inline-block;
        width: 90px;
    }
    .f_info li:last-of-type{
        margin-right: 0;
    }
    footer address{
        font-size: 13px;
        margin-bottom: 0;
    }
    .copy{
        font-size: 10px;
    }
    .btn_top{
        display: none;
    }
    .banner p {
        font-size: 17px;
        font-weight: 300;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .prod_list ul li {
        margin-right: 20px;
    }
    .slide{
        margin-top: 0;
    }
    .slider {
        padding: 100px 0;
    }
    .station {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .gra_background{
        display: none;
    }
    .ul_train {
        width: 300%;
        height: auto;
        /* height: 100%; */
    }
    .ul_train li{
        margin-right: 0;
    }
    .ul_train li>div {
        height:auto;
    }
    .ul_train li img {
        border-radius: 0px;
        height:auto;
    }
    .ul_train>li .abs{
        margin-top: 30px;
        /* height: 350px; */
    }
    .ul_train>li .abs a {
        background: transparent;
        border: 1px solid #f68c22;
        color: #f68c22;
        font-size: 14px;
        padding: 10px 30px;
        border-radius: 30px;
        font-weight: 400;
        display: inline-block;
    }
    .ul_train>li .abs p{
        margin: 30px 0;
    }
    .abs {
        position:static;
        right:auto;
        top: auto;
        transform: translateY(0%);
        color: black;
        text-align:center;
        margin-right: 0px;
        font-size: 16px;
        font-weight: 100;
        z-index: 100;
    }
    .abs span {
        display: block;
        font-family: 'S-CoreDream-3Light';
        font-size: 24px;
        margin-top:10px;
    }
    .abs p {
        margin: 20px 0;
    }
    .slider::after {
        display:none;
    }
    .ul_title {
        justify-content: center;
        width: 100%;
        word-break: keep-all;
        text-wrap: nowrap;
        flex-wrap: wrap;
    }
    .ul_title>li {
        font-size: 14px;
        padding: 10px 20px;
        border-radius: 30px;
        margin: 0 10px;
        margin-bottom: 10px;
    }

    /* 팝업 */
    .modal_back{
        display: none;
    }
    .checked{
        display: block;
    }
    .check{
        display: flex;
        justify-content: center;
    }
    #user_agree{
        display: inline-block;
        margin-left: 5px;
        margin-top: 2px;
    }
    #user_agree label{
        display: inline-block;
        padding-left: 8px;
    }
    #enter{
        display: grid;
        margin: 50px auto;
        width: 300px;
    }
    .popup_age{
        background: url("../img/modal_img_.png") no-repeat 50% 50% / cover;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        padding: 0 10px;
    }
    .popup_age form{
        height: 200px;
    }
    .popup_age select {
        width: 95px;
        margin: 5px;
    }
    .popup_age>p {
        font-size: 18px;
        color: #0f0f0f;
        margin-bottom: 30px;
        padding: unset;
    }
    .popup_age fieldset:first-of-type {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
}