html{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    width: 100%;
    color: #4f4f4f;
}
.all{
    overflow: hidden;
}
main{
    position: relative;
}

/* header */
header{
    background: #c0a684;
    position: relative;
    width: 100%;
}
header::after{
    content:"";
    position:absolute;
    left:0;
    top:150px;
    width:100%;
    height:0;
    z-index: 99;
    background: #f6f4dd;
    opacity: 0.9;
    transition: all 0.6s ease 0s;
}
header.on::after{
    height: 400px;
}
.gnb .active{
    color: #000;
    font-weight: 500;
}

/* main */
.banner{
    width: 100%;
    position: relative;
}
.banner img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   line-height: 0;
}
.banner h1{
    position: absolute;
    top: 40%;
    right: 25%;
    font-size: 38px;
    color: #fff;
}
.banner>h1>span{
    font-size: 68px;
    font-weight: 500;
    letter-spacing: 10px;
}
.banner p{
    position: absolute;
    bottom: 5%;
    left: 40%;
    font-size: 14px;
    color: #ccc;
    opacity: 0.5;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid blue;
}
.wrap>section{
    margin: 100px 0;
}

/* 섹션1 */
.prod_tab_btn{
    border: 1px solid red;
    display: flex;
    width: 50%;
    margin: 50px 0;
}
.prod_tab_btn>li{
    width: 100%;
    background: #f2f4f3;
    color: #b5b5b5;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    margin-right: 50px;
}
.prod_tab_btn>li:last-of-type{
    margin-right: 0;
}
.prod_tab_btn>li.on{
    background: #f68c22;
    color: #fff;
}
.btn_sub{
    border: 1px solid red;
    text-align: center;
    color: #c0a684;
    margin-bottom: 50px;
}
.prod_box{
    border: 1px solid red;
    display: flex;
}
.prod_img{
    width: 15%;
    object-fit: cover;
    display: flex;
    align-items: flex-end;
    border: 1px solid blue;
}
.prod_table{
    border: 1px solid red;
    margin-left: 100px;
    width: 100%;
}
.prod_table h4{
    color: #000;
    font-size: 30px;
}
.prod_table h4 b{color: #f68c22;}
.prod_info{
    border: 1px solid blue;
}
.prod_info .title{
    color: #c0a684;
    margin: 20px 0;
}
table{
    width: 100%;
    height: 200px;
}
table .volume{   
    border-top: 1px solid black;
    border-bottom: 1px solid black;
} 
table .alcohol{   
    border-bottom: 1px solid black;
}
table th{
    text-align: left;
}
table td{
    padding: 0 50px;
}

/* 섹션2 */
section.float{
    width: 100%;
    border: 1px solid green;
    padding-top: 400px;
}
/* section.float::after{
    background: url("../img/baek_slide1.png")no-repeat 0 0 / contain;
} */
.slide_p{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.slide_p i{
    font-size: 38px;
}
.slide_p span{
    color: #4280C5;
}
.slide_p span:last-of-type{
    color: #f68c22;
}

/* 섹션3 */
.prod_info_slide{}
.btn_sub_tab{
    border: 1px solid aqua;
    display: flex;
    width: 50%;
    margin: 50px auto;
}
.btn_sub_tab>li{
    width: 100%;
    color: #f68c22;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    margin-right: 50px;
    border: 1px solid #f68c22;
}
.btn_sub_tab>li:last-of-type{
    margin-right: 0;
}
.btn_sub_tab>li.on{
    background: #f68c22;
    color: #fff;
}
.sub_station{
    width: 100%;
    border: 1px solid violet;
    text-align: center;
}
.sub_train{
    width: 300%;
    border: 1px solid red;
    display: flex;
    transition: all .5s ease 0s;
}
.sub_train>li{
    border: 1px solid violet;
    width: 1200px;
}
.sub_train>li>h1{
    font-size: 30px;
    font-family: 'S-CoreDream-3Light';
    font-weight: 600;
    margin: 50px 0 40px 0;
}
.sub_img{
    margin-bottom: 40px;
}
.sub_train>li>p{
    line-height: 30px;
}
.sub_train>li>p b{
    font-weight: bold;
}

/* 섹션4 */
.baek_alclist{
    border: 1px solid violet;
    display: flex;
}
.baek_alclist>li{
    border: 1px solid aqua;
}
.baek_alclist>li>dl{
    border: 1px solid aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.baek_alclist>li>dl>dt{
    font-size: 28px;
    color: #f68c22;
    margin-bottom: 20px;
}

/* tablet */
@media (min-width:768px) and (max-width:1219px){}

/* mobile */
@media (max-width:767px){}

